FORMAT: 1A
HOST: https://api.siigo.com

# Siigo API
Siigo API te permite integrar cualquiera de tus aplicaciones a Siigo Nube y automatizar todo tu ciclo de venta.

Tendrás acceso a los siguientes recursos:

| Recurso                   | Endpoint               | Descripción
|---------------------------|------------------------|-------------------------------------------
| Productos o servicios     | /products              | Crear, consultar, actualizar y borrar productos.|
| Clientes                  | /customers             | Crear, consultar, actualizar y borrar clientes / terceros.|
| Facturas de venta         | /invoices              | Crear y consultar una o todas las facturas de venta. Consultar PDF de la factura|
| Notas crédito             | /credit-notes          | Crear y consultar una o todas las notas crédito. Consultar PDF de la nota crédito|
| Recibos de caja           | /vouchers              | Crear y consultar una o todos los recibos de caja.|
| Comprobantes contables    | /journals              | Crear y consultar una o todos los Comprobantes Contables|

# Códigos de estado HTTP

| Code | Message                | Explanation
|------|------------------------|-------------------------------------------
| 200  | OK                     | Everything’s fine.|
| 201  | Created                | Sent when a new resource is created at the client’s request.|
| 400  | Bad Request            | There’s a problem on the client side, often due to missing a required parameter.|
| 401  | Unauthorized           | No valid access_token provided.|
| 403  | Forbidden              | The user associated with the access_token doesn't have permissions to perform the request.|
| 404  | Not Found              | The requested resource doesn't exist.|
| 409  | Conflict               | It is used in cases where the HTTP request is valid, but an attempt is made to put the server resources in an impossible or inconsistent state.|
| 415  | Unsupported media      | The client sends a representation in a media type it doesn’t understand. The server might have been expecting JSON and the client sent XML.|
| 429  | Too Many Requests      | The user has sent too many requests in a given amount of time ("rate limiting").|
| 500  | Internal Server Error  | Something went wrong on Siigo's end.| 

# Manejo de errores

Los errores en Siigo API tienen la siguiente estructura:

```json
{
    "Status": 400,
    "Errors": [
        {
            "Code": "parameter_required",
            "Message": "The field code is required",
            "Params": [
                "code"
            ],
            "Detail": "Check the API documentation: [url_to_documentation]"
        }
    ]
}
```

- **Status**: Siigo utiliza códigos de respuesta HTTP para indicar el éxito o fracaso de una solicitud de API.
- **Code**: Para algunos errores que podrían manejarse mediante programación, se muestra una cadena corta que indica el código de error.
- **Message**: Mensaje con la explicación del error.
- **Param**: Si el error es específico del parámetro, el parámetro relacionado con el error.
- **Detail**: Mensaje que proporciona más detalles acerca del error.

# Códigos de error

A continuación se muestra la lista de posibles códigos de error con información adicional sobre cómo resolverlos.

## `already_exists`
Este error ocurre cuando se intenta crear un registro ya existente en Siigo Nube. 

Usa un valor diferente y único para el id o código e intenta nuevamente.

## `company_settings`
Este error ocurre cuando se se envía algún parámetro que no está configurado en tu organización.

Puedes validar en el menú *Configuración* `>` *Más Configuraciones* `>` *Organización* `>` *Perfil de la organización* la configuración de Moneda extrajera y Datos tributarios.

## `delete_not_allowed`
El recurso no se puede eliminar porque tiene movimientos o transacciones relacionadas.

## `document_settings`
Este error ocurre cuando se se envía algún parámetro que no está configurado en el comprobante.

Verifica la configuración de los siguientes parámetro de Factura de Venta en el menú *Configuración* `>` *Transacciones* `>` *Facturas*

* Vendedor por ítem
* Centro de costos
* Numeración automática
* Descuentos por valor o porcentaje
* Decimales

Más información en: https://siigonube.portaldeclientes.siigo.com/basedeconocimiento/configuracion-factura-de-venta/

## `invalid_array`
Este error ocure cuando se envía un array con valores inválidos.

* **Contacts:** Este error ocurre al exceder la cantidad máxima de contactos, puedes crear hasta 10 contactos por cliente.
* **Name:** Debes verificar los siguientes escenarios:
        
    Si estás creando un cliente tipo 'Person'
        
        {
            "name": [
                "Marcos",
                "Castillo"
            ],
        }
    
    Si estás creando un cliente tipo 'Company'
        
        {
            "name": [
                "Stark Industries"
            ],
        }
            
* **Payments:** Este error ocurre al envíar formas de pago inválidas para el tipo de comprobante, debes consultar las formas de pago válidas por tipo de comprobante (Factura de Venta, Nota Crédito, Recibo de Caja).
* **Prices:** Este error ocurre al exceder la cantidad máxima de Listas de precio, puedes crear hasta 12 Listas de precio por producto.
* **Retentions:** De acuerdo a la configuración del comprobante en el menú *Configuración* `>` *Transacciones* `>` *Facturas*, sección Datos tributarios, puedes utilizar los siguientes tipos de retenciones:

    ReteIVA: Se aplica sobre el valor del IVA facturado.

    ReteICA: Se aplica sobre el subtotal de la factura.

    Autorretención: Se aplica si el subtotal de la factura es mayor al tope mínimo configurado.
* **Taxes:** Este error ocurre:
    
    `-` Si envías más de la cantidad de impuestos permitidos, puedes enviar hasta 3 impuestos.
    
    `-` Si envías Iva y Ad Valorem en el mismo producto de una factura.
    
    `-` Si envías un mismo tipo de impuesto más de una vez.
    
    `-` Si envías un reteIVA o reteICA en los items de factura.
* **Items:** En recibo de caja si envías items en un Anticipo o en un Abono a deuda el mismo vencimiento más de una vez.

## `invalid_amount`
El valor especificado no es válido. El monto debe ser un número positivo en la unidad monetaria correspondiente y no exceder el monto mínimo o máximo (99,999,999,999.99).

**Consideraciones**

El total de `payments` debe coincidir con el total de la factura, el valor máximo es máximo (9,999,999,999,999.99).

El valor de `advance_payment` debe ser mayor al subtotal de la factura.

El campo de `price` permite hasta 6 decimales.

Los demás campos como `advance_payment` y `discount` permiten hasta 2 decimales.

No puede enviar un valor mayor al valor del saldo de la "cuota".

## `invalid_code`
El código no puede tener comillas simples (') ni espacios.

Expresión regular: `^[^'\s]+$`

## `invalid_cost_center`
Por favor verifica el identificador del centro de costos. <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/centros-de-costo/centros-de-costo">/cost-centers</a>

## `invalid_currency`
No es necesario que envíes este campo si estás manejando la moneda local.

En nota crédito debe coincider la moneda de la factura de venta.

## `invalid_date`
Estás enviando una fechá inválida, verifica los formatos válidos para las fechas:

Date: `yyyy-MM-dd`

Date and time in UTC: `yyyy-MM-ddTHH:mm:ssZ`

## `invalid_description`
Estás enviando una descripción inválida.

Expresión regular: `@"^$|^[\w\.@-\\%_;()\]#?¡[/:{ } *+,$&quot;\sñáéíóúÁÉÍÓÚüÜ\-&quot;]+$"`

## `invalid_document`
El `id` del tipo de comprobante no corresponde al que estás creando. <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/tipos-de-comprobante">**/document-types**</a>

En Nota Crédito, debes verificar que `invoice` sea del mismo `electronic_type`.
Si se está usando un tipo de comprobante con marcación `electronica` en su definición, esta debe estar `enviada` ante la DIAN si se desea aplicar nota crédito. 


## `invalid_email` 
La dirección de correo electrónico no es válida (por ejemplo, no está formateada correctamente).
Verifica que la dirección de correo electrónico esté formateada correctamente.

Expresión regular: `^\w+([-+.']*\w+)*([-+.'])*@\w+([-.]\w+)*\.\w+([-.]\w+)*$`

## `invalid_identification`
Estás enviando una identificación inválida.

Expresión regular: `@"^[\d\w]{1}[\d\w\-]+[\d\w]{1}$"`

## `invalid_name`
Estás enviando un nombre inválido.

Expresión regular: `@"^[\w\.@-\\%_;()\]#?¡[/:{ } *+,$&quot;\sñáéíóúÁÉÍÓÚüÜ\-&quot;]+$"`

## `invalid_payment`
El error sucede si: 
se envías una forma de pago inválida para el tipo de comprobante (Factura de Venta, Nota Crédito, Recibo de Caja).
se envía payment en un recibo de caja avanzado.

## `invalid_range`
El campo solo permite un valor entre los rangos indicados.

## `invalid_reference`
Este error ocurre cuando envías un id o código que no existe. Verifica los <a href="https://siigoapi.docs.apiary.io/#reference/catalogos">Catálogos.</a>

## `invalid_total_payments`

El sistema valida que el valor total pagado *(suma de payments[i].value)* coincida con el total de la factura (suma de los totales de los ítems).

El total por ítem se calcula así:

```
    ValorBase = Redondear(Cantidad * ValorUnitario - Descuento, 2)
    IVA = Redondear((baseValue * PorcentajeIVA)/100, 2)
    TotalItem = Redondear(ValorBase + IVA, 2)
```    

*Ejemplo:*
```    
    Cantidad = 10
    ValorUnitario = 100.00
    Descuento = 50.00
    
    ValorBase = Redondear(10 * 100.00 - 50.00, 2) = 950.00
    
    IVA = Redondear((950.00 * 19)/100, 2) = 180.50
    TotalItem = Redondear(950.00 + 180.50, 2) = 1130.50
```

## `invalid_retentions`
De acuerdo a la configuración del comprobante en el menú *Configuración* `>` *Transacciones* `>` *Facturas*, sección Datos tributarios, puedes utilizar los siguientes tipos de retenciones:

ReteIVA: Se aplica sobre el valor del IVA facturado.

ReteICA: Se aplica sobre el subtotal de la factura.

Autorretención: Se aplica si el subtotal de la factura es mayor al tope mínimo configurado.

## `invalid_type`
El tipo de dato enviado es inválido.

## `invalid_url`
La URL proporcionada no es válida.
Verifica que la URL esté formateada correctamente.

## `invalid_value`
El valor especificado no es válido. (Cantidades, Consecutivos y Cuotas)

## `length_max`
Verifica que no superas la longitud máxima del campo indicada en el mensaje del error.

## `length_min`
Verifica la longitud mínima del campo indicada en el mensaje del error.

## `not_found`
Recurso no encontrado.

## `parameter_empty`
Se utiliza para los campos unit y fiscal responsabilities, debes verificar que envías un valor válido.
Si no se envía se asigna el valor por defecto.

## `parameter_inactive`
El parámetro que estás utilizando está inactivo. Usa un parámetro diferente o activa el parámetro actual nuevamente.

Usuarios: Puedes validar en en Siigo Nube en el menú lateral: *Reportes* `>` *Más reportes* `>` *Usuarios* `>` *Administración de usuarios*

Formas de Pago: Puedes validar en en Siigo Nube en el menú lateral: *Configuración* `>` *Transacciones* `>` *Catálogos* `>` *Formas de Pago*

Impuestos: Puedes validar en en Siigo Nube en el menú lateral: *Configuración* `>` *Transacciones* `>` *Catálogos* `>` *Impuestos*

Listas de Precios: Puedes validar en en Siigo Nube en el menú *Configuración* `>` *Más Configuraciones* `>` *Inventarios* `>` *Listas de precios* la habilitación de listas de precios.

## `parameter_required`
No se proporcionaron uno o más valores obligatorios.
Asegúrate de que las solicitudes incluyan todos los parámetros necesarios.

Formas de Pago: Debes enviar el query parameter document_type=FV (FV, NC y RC)

## `parameters_exclusive`
Se proporcionó un valor no permitido, consulta la documentación de nuestra API o el mensaje de error devuelto para verificar los valores que están permitidos al crear o modificar el recurso especificado.

## `product_settings`
Este error sucede si envías una bodega en la creación de factura y el producto no maneja control de inventarios.

## `requests_limit`
Están llegando solicitudes demasiado rápido a la API. Recomendamos una retirada exponencial de sus solicitudes.
*Importante:* `>` Para la empresa de pruebas las solicitudes son de 10 request por minuto
`>` Empresas en producción son 100 request por minuto.

## `unauthorized`
No estás autorizado, verifica el token de acceso.

## `unhandled_error`
Error no controlado, escríbenos a soporteapi@siigo.com para ayudarte y dar claridad a este error.

## `warehouse_settings`
Este error sucede si envías una bodega en la creación de factura o nota crédito y NO está activo el manejo de bodegas.

Puedes validar en el menú *Configuración* `>` *Más Configuraciones* `>` *Inventarios* `>` *Configuración de bodegas* la habilitación de uso de bodegas.

## `invalid_balance`
Este error aparece cuando la suma de los debitos y créditos nos son iguales. 

## `values_limit`
Este error aparece cuando se ha excedido él limite de los valores permitidos.





# Facturación Electrónica

Para Facturación Electrónica es importante tener en cuenta que se automatiza la creación del comprobante “Factura de Venta”, pero no se realiza el envío automático a la DIAN. Para hacer el envío tienes dos opciones:
* Ingresar a Siigo Nube menú `>` *Facturación Electrónica* `>` *Otras opciones…* `>` *Envío masivo de comprobantes electrónicos*
![envio_masivo](https://siigonube.portaldeclientes.siigo.com/wp-content/uploads/2020/04/api-15-1024x211.png)

* Ingresar a Siigo Nube, desde la factura dar clic en el botón Enviar electrónicamente
![envio_individual](https://siigonube.portaldeclientes.siigo.com/wp-content/uploads/2020/04/api-16-1024x396.png)


# Data Structures

## AccountGroup (object)
+ id: 1253 (number,required) - Identificador único de la clasificación de inventario.
+ name: Productos (string,required) - Nombre de la clasificación de inventario.
+ active: true (boolean,required) - Indica si la clasificación de inventario está en uso.

## AccountGroupOut (object)
+ id: 1253 (number,required) - Identificador único de la clasificación de inventario.
+ name: Productos (string) - Nombre de la clasificación de inventario.

## ProductType (enum)
+ `Product` - Producto
+ `Service` - Servicio
+ `ConsumerGood` - Consumo

## TaxClassification (enum)
+ `Taxed` - Gravado
+ `Exempt` - Exento
+ `Excluded` - Excluido

## AssetGroup (object)
+ id: 1258 (number,required) - Identificador único del grupo de activos fijos.
+ name: Equipo de computación (string,required) - Nombre del grupo de activo.
+ active: true (boolean,required) - Indica si el grupo de activos está en uso.

## TaxType (enum)
+ `IVA`
+ `Retefuente`
+ `ReteIVA`
+ `ReteICA`
+ `Impoconsumo`
+ `AdValorem`
+ `Autorretencion`

## PaymentType (enum)
+ `Cartera` - Factura de venta y Recibo de Caja
+ `Proveedor` - Factura de Compra y Recibo de Pago
+ `CarteraProveedor` - Cartera/Proveedores

## DocumentType (enum)
+ `FV` - Factura de Venta
+ `RC` - Recibo de Caja
+ `NC` - Nota Crédito
+ `FC` - Factura de Compra
+ `CC` - Comprobante Contable

## DiscountType (enum)
+ `Percentage` - Maneja descuento por Porcentaje
+ `Value` - Maneja descuento por Valor

## ElectronicType (enum)
+ `NoElectronic` - Factura por computador / No electrónica
+ `Electronicvoice` - Factura electrónica de venta
+ `ContingencyInvoice` - Documento electrónico de transmisión - tipo 03 (Contingencia)
+ `ExportInvoice` - Factura electrónica de venta - exportación

## TokenIn (object)
+ username: usuario@api.com (string,required) - Usuario
+ access_key: NWNmMTczNGYtZjQ0OS00MjgwLTg51WItYjNiNWRiNGUxMjIzOnM/WDkqPypfVFN= (string,required) - Access Key

## TokenOut (object)
+ access_token: access token (string) - Access Token
+ expires_in: 86400 (number) - Expiración en milisegundos
+ token_type: Bearer (string) - Tipo de Token
+ scope: SiigoAPI (string) - Alcance

## Fixedassets (object)
+ id: 13156 (number,required) - Identificador único del activo fijo.
+ name: Equipo de oficina (string,required) - Nombre del Activo.
+ group: Equipo de computación (string,required) - Nombre del grupo de activo.
+ active: true (boolean,required) - Indica si el activo está en uso.

## Tax (object)
+ id: 13156 (number,required) - Identificador único del impuesto.
+ name: IVA 19% (string,required) - Nombre del impuesto.
+ type: IVA (TaxType,required) - Tipo del impuesto.
+ percentage: 19.00 (number,required) - Porcentaje del impuesto.
+ active: true (boolean,required) - Indica si el impuesto está en uso.

## TaxIn (object)
+ id: 13156 (number,required) - Identificador único del impuesto.

## TaxRet (object)
+ id: 13156 (number,required) - Identificador único del impuesto.

## TaxOut (object)
+ id: 13156 (number) - Identificador único del impuesto.
+ name: IVA 19% (string) - Nombre del impuesto.
+ type: IVA (TaxType) - Tipo del impuesto.
+ percentage: 19.00 (number) - Porcentaje del impuesto.

## TaxOutInvoice (object)
+ id: 13156 (number) - Identificador único del impuesto.
+ name: IVA 19% (string) - Nombre del impuesto.
+ type: IVA (TaxType) - Tipo del impuesto.
+ percentage: 19 (number) - Porcentaje del impuesto.
+ value: 406.51 (number) - Valor del impuesto.

## RetentionOutInvoice (object)
+ id: 34072 (number) - Identificador único del impuesto.
+ name: ReteIVA 15% (string) - Nombre del impuesto.
+ type: ReteIVA (TaxType) - Tipo del impuesto.
+ percentage: 15 (number) - Porcentaje del impuesto.
+ value: 60.98 (number) - Valor del impuesto.

## PriceList (object)
+ id: 2766 (number,required) - Identificador único de la lista de precio.
+ name: Precio de venta 1 (string) - Nombre de la lista de precio.
+ active: true (boolean) - Indica si la lista de precio está en uso.
+ position: 1 (number) - Posición de la lista de precio.

## PriceIn
+ currency_code: COP (string,required) - Código de moneda
+ price_list (array[PriceListIn],required) - Lista de precios

## PriceOut
+ currency_code: COP (string,required) - Código de moneda
+ price_list (array[PriceListOut],required) - Lista de precios

## PriceListIn (object)
+ position: 1 (number,required) - Identificador único de la lista de precio.
+ value: 12000 (number,required) - Valor de la lista de precio.

## PriceListOut (object)
+ position: 1 (number) - Identificador único de la lista de precio.
+ name: Precio de venta 1 (string) - Nombre de la lista de precio.
+ value: 12000 (number) - Valor de la lista de precio.

## UnitOut (object)
+ code: 94 (string,required) - Código de la unidad de medida.
+ name: unidad (string) - Nombre de la unidad de medida.

## AdditionalFields (object)
+ barcode: B0123 (string) - Código de barras.
+ brand: Gef (string) - Marca.
+ tariff: 151612 (string) - Código arancelario.
+ model: Loiry  (string) - Modelo.

## Warehouse (object)
+ id: 1270 (number,required) - Identificador único de la bodega.
+ name: Bodega principal (string) - Nombre de la bodega.
+ active: true (boolean) - Indica si la bodega está en uso.
+ has_movements: true (boolean) - Indica si la bodega tiene movimientos.

## WarehouseProduct (object)
+ id: 1270 (number,required) - Identificador único de la bodega.
+ name: Bodega principal (string) - Nombre de la bodega.
+ quantity: 1 (number) - Cantidad disponible.

## WarehouseOutInvoice (object)
+ id: 1270 (number,required) - Identificador único de la bodega.
+ name: Bodega principal (string) - Nombre de la bodega.

## User (object)
+ id: 35071 (number,required) - Identificador único del usuario o vendedor.
+ username: usuario@prueba.com (string, required) - Nombre de usuario.
+ first_name: David Felipe (string, required) - Nombre del usuario.
+ last_name: Yepes Sánchez (string, required) - Apellido del usuario.
+ email: usuario@prueba.com (string, required) - Correo del usuario.
+ active: true (boolean,required) -  Estado del usuario.
+ identification: 13832082 (string, required) - Número de identificación del usuario.

## PaymentTypes (object)
+ id: 5636 (number,required) - Identificador único de la forma de pago.
+ name: Crédito (string, required) - Nombre de la forma de pago.
+ `type` (PaymentType, required) - Tipo de la forma de pago.
+ active: true (boolean, required) - Estado de la forma de pago.
+ due_date: true (boolean, required) - Indica si la forma de pago maneja fecha de vencimiento.

## Document (object)
+ id: 24446 (number) - Identificador único del comprobante.
+ code: 1 (string) - Código del comprobante.
+ name: Factura (string) - Nombre o título del comprobante.
+ description: Factura de venta (string) - Descripción del comprobante.
+ `type` (DocumentType) - Tipo de comprobante.
+ active: true (boolean) -  Estado del comprobante.
+ seller_by_item: false (boolean) - Maneja vendedor por ítem.
+ cost_center: false (boolean) - Maneja centro de costos.
+ cost_center_mandatory: false (boolean) - El centro de costos es obligatorio.
+ automatic_number: true (boolean) - Maneja numeración automática.
+ consecutive: 3 (number) - Consecutivo.
+ `discount_type` (DiscountType) - Maneja descuento por Porcentaje o Valor.
+ decimals: true (boolean) - Maneja decimales.
+ advance_payment: false (boolean) - Maneja copagos / anticipos.
+ reteiva: true (boolean) - Maneja reteIVA.
+ reteica: true (boolean) - Maneja reteICA.
+ self_withholding: false (boolean) - Maneja autorretención decreto 2201.
+ self_withholding_limit: 0 (number)
+ `electronic_type` (ElectronicType) - Indica el tipo de factura.

## CostCenter (object)
+ id: 25732 (number,required) - Identificador único del centro de costo.
+ code: 13-1 (string, required) - Código del centro de costo.
+ name: Principal (string, required) - Nombre del centro de costo.
+ active: true (boolean,required) -  Estado del centro de costo.

## IdType (object)
+ code: 13 (string, required) - Código del tipo de documento.
+ name: Cédula de ciudadanía (string, required) - Nombre del tipo de documento.

## Currency (object)
+ code: USD (string,required) - Código de moneda.
+ exchange_rate: ``3825.03`` (number,required) - Tasa / Valor en moneda extranjera.

## Discount (object)
+ percentage: 13 (number) - Porcentaje de descuento
+ value: 130 (number) - Valor de descuento

## ProductIn (object)
+ code: ``Item-1`` (string, required) - Código único del producto.
+ name: Camiseta de algodón (string, required) - Nombre del producto / servicio.
+ account_group: 1253 (number,required) - ID de la clasificación de inventario. 
+ `type` (ProductType, required) - Tipo de producto, valor por default Product
+ stock_control: false (boolean) - Control de inventario, valor por default false.
+ active: true (boolean) - Estado del producto en Siigo, valor por default true.
+ tax_classification (TaxClassification) - Clasificación tributaria, valor por default Gravado.
+ tax_included: false (boolean) - IVA incluido.
+ tax_consumption_value: 0 (number) - Valor  impuesto al consumo.
+ taxes (array[TaxIn]) - Impuestos que se desean asociar al producto o servicio.
+ prices (array[PriceIn]) - Son valores de venta que manejan cada uno de los productos o servicios, en  Siigo  es  posible  manejar  hasta 12 precios de venta.
+ unit: 94 (string) - Código de la unidad de medida del producto para factura electrónica, valor por default 94.
+ unit_label: unidad (string) - Unidad de medida para impresión factura.
+ reference: REF1 (string) - Referencia o código de fábrica del producto o servicio.
+ description: Camiseta de algodón blanca (string) - Descripción del producto o servicio.
+ additional_fields (AdditionalFields) - Campos adicionales como: Código de barras, Marca, Código arancelario, Modelo.

## ProductOutCreate (object)
+ id: ``00584089-4ebc-49de-bf75-6a6cc968a96d`` (string) - Identificador del producto.
+ code: ``Item-1`` (string, required) - Código único del producto.
+ name: Camiseta de algodón (string, required) - Nombre del producto / servicio.
+ account_group (AccountGroupOut) - ID de la clasificación de inventario.
+ `type` (ProductType, required) - Tipo de producto, valor por default Product
+ stock_control: false (boolean) - Control de inventario, valor por default false.
+ active: true (boolean) - Estado del producto en Siigo, valor por default true.
+ tax_classification (TaxClassification) - Clasificación tributaria.
+ tax_included: false (boolean) - IVA incluido.
+ tax_consumption_value: 0 (number) - Valor  impuesto al consumo.
+ taxes (array[TaxOut]) - Impuestos que se desean asociar al producto o servicio.
+ prices (array[PriceOut]) - Son valores de venta que manejan cada uno de los productos o servicios, en  Siigo  es  posible  manejar  hasta 12 precios de venta.
+ unit (UnitOut) - Código de la unidad de medida del producto para factura electrónica, valor por default 94.
+ unit_label: unidad (string) - Unidad de medida para impresión factura.
+ reference: REF1 (string) - Referencia o código de fábrica del producto o servicio.
+ description: Camiseta de algodón blanca (string) - Descripción del producto o servicio.
+ additional_fields (AdditionalFields) - Campos adicionales como: Código de barras, Marca, Código arancelario, Modelo.
+ available_quantity: 0 (number) - Indica la cantidad disponible en el inventario. Si el producto se encuentra distribuido en múltiples bodegas, este atributo retorna la cantidad disponible en todas las bodegas.
+ warehouses (array) - Indica las bodegas asociadas al producto.
+ metadata (MetadataCreate) - Información acerca de la entidad.

## ProductOut (object)
+ id: ``00584089-4ebc-49de-bf75-6a6cc968a96d`` (string) - Identificador del producto.
+ code: ``Item-1`` (string, required) - Código único del producto.
+ name: Camiseta de algodón (string, required) - Nombre del producto / servicio.
+ account_group (AccountGroupOut) - ID de la clasificación de inventario.
+ `type` (ProductType, required) - Tipo de producto, valor por default Product
+ stock_control: false (boolean) - Control de inventario, valor por default false.
+ active: true (boolean) - Estado del producto en Siigo, valor por default true.
+ tax_classification (TaxClassification) - Clasificación tributaria.
+ tax_included: false (boolean) - IVA incluido.
+ tax_consumption_value: 0 (number) - Valor  impuesto al consumo.
+ taxes (array[TaxOut]) - Impuestos que se desean asociar al producto o servicio.
+ prices (array[PriceOut]) - Son valores de venta que manejan cada uno de los productos o servicios, en  Siigo  es  posible  manejar  hasta 12 precios de venta.
+ unit (UnitOut) - Código de la unidad de medida del producto para factura electrónica, valor por default 94.
+ unit_label: unidad (string) - Unidad de medida para impresión factura.
+ reference: REF1 (string) - Referencia o código de fábrica del producto o servicio.
+ description: Camiseta de algodón blanca (string) - Descripción del producto o servicio.
+ additional_fields (AdditionalFields) - Campos adicionales como: Código de barras, Marca, Código arancelario, Modelo.
+ available_quantity: 0 (number) - Indica la cantidad disponible en el inventario. Si el producto se encuentra distribuido en múltiples bodegas, este atributo retorna la cantidad disponible en todas las bodegas.
+ warehouses (array[WarehouseProduct]) - Indica las bodegas asociadas al producto.
+ metadata (Metadata) - Información acerca de la entidad.

## ProductsOutList (object)
+ `pagination` (Pagination)
+ results (array[ProductOut])
+ _links
    - *previous*
        - href: https://api.siigo.com/v1/products?page=4&page_size=25
    - *self*
        - href: https://api.siigo.com/v1/products?page=5&page_size=25
    - *next*
        - href: https://api.siigo.com/v1/products?page=6&page_size=25

## CustomerType (enum)
+ `Customer` - Cliente
+ `Supplier` - Proveedor
+ `Other` - Otros

## PersonType (enum)
+ `Person` - Persona
+ `Company` - Empresa

## City (object)
+ CityID: 12346 (string,required) - Código de la ciudad.
+ CountryCode: Co(string,required) - Código del país.
+ CountryName: Colombia (string,required) - Nombre del país.
+ StateCode: 11(string,required) - Código del departamento.
+ StateName: Bogotá D.C (string,required) - Nombre del departamento.
+ CityCode: 11001 (string,required) - Código de la ciudad.
+ CityName: Bogotá (string,required) - Nombre de la ciudad.

## CityIn (object)
+ country_code: Co (string, required) - Código del país.
+ state_code: 19 (string,required) - Código del departamento/estado.
+ city_code: 19001 (string,required) - Código de la ciudad.

## CityOut (object)
+ country_code: Co (string, required) - Código del país.
+ country_name: Colombia (string) - Nombre del país.
+ state_code: 19 (string,required) - Código del departamento/estado.
+ state_name: Cauca (string) - Nombre del departamento/estado.
+ city_code: 19001 (string,required) - Código de la ciudad.
+ city_name: Popayán (string) - Nombre de la ciudad.

## CityOutInvoice (object)
+ country_name: Colombia (string) - Nombre del país.
+ state_name: Cauca (string) - Nombre del departamento/estado.
+ city_name: Popayán (string) - Nombre de la ciudad.

## AddressIn (object)
+ address: ``Cra. 18 #79A - 42`` (string,required) - Dirección del cliente.
+ city (CityIn,required) - Ciudad del cliente.
+ postal_code: 110911 (string) - Código postal.

## AddressOut (object)
+ address: ``Cra. 18 #79A - 42`` (string,required) - Dirección del cliente.
+ city (CityOut,required) - Ciudad del cliente.
+ postal_code: 110911 (string) - Código postal.

## Phone (object)
+ indicative: 57 (string) - Indicativo
+ number: 3006003345 (string,required) - Número
+ extension: 132 (string) - Extensión

## PhoneContact (object)
+ indicative: 57 (string) - Indicativo
+ number: 3006003345 (string) - Número
+ extension: 132 (string) - Extensión

## Contact (object)
+ first_name: Marcos (string,required) - Nombres del contacto.
+ last_name: Castillo (string,required) - Apellidos del contacto.
+ email: marcos.castillo@contacto.com (string,required) - Correo electrónico del contacto.
+ phone (PhoneContact) - Indica el teléfono asociado al contacto.

## FiscalResponsabilityIn (object)
+ code: ``R-99-PN`` (string,required) - Código de la responsabilidad fiscal.

## FiscalResponsability (object)
+ code: ``R-99-PN`` (string,required) - Código de la responsabilidad fiscal.
+ name: ``No responsable`` (string) - Nombre de la responsabilidad fiscal.

## RelatedUsers (object)
+ seller_id: 629 (number) - Usuario vendedor asigando al cliente.
+ collector_id: 629 (number) - Usuario cobrador encargado del recaudo de cartera.

## CustomField (object)
+ key: webpage (string) - Tipo de atributo
+ value: www.siigo.com (string) - Valor del atributo

## MetadataCreate (object)
+ created: ``2020-06-15T03:33:17.208Z`` (string) - La fecha en la que se creó la entidad.
+ last_updated: null (string) - La fecha en la que se actualizó la entidad por última vez.

## pdf (object)
+ id: ``b446fbc3-99c5-4c2d-8a28-1c0d3721ab91`` (string) - Identificador de la Factura de Venta.
+ base64: ``Y29udGVuaWRvIGRlbCBwZGY=`` (string) - PDF de Factura de Venta.

## pdfNC (object)
+ id: ``b446fbc3-99c5-4c2d-8a28-1c0d3721ab91`` (string) - Identificador de la Nota Crédito.
+ base64: ``Y29udGVuaWRvIGRlbCBwZGY=....`` (string) - PDF de Nota Crédito.

## Metadata (object)
+ created: ``2020-06-15T03:33:17.208Z`` (string) - La fecha en la que se creó la entidad.
+ last_updated: null (string) - La fecha en la que se actualizó la entidad por última vez.

## CustomerIn (object)
+ `type` (CustomerType) - Tipo de cliente, valor por default Customer.
+ `person_type` (PersonType,required) - Tipo de persona.
+ id_type: 13 (string,required) - Código del tipo de identificación del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ check_digit: 4 (string) - Dígito verificación, se calcula automáticamente.
+ name: ``Marcos``,``Castillo`` (array[string], required) - Razón social o nombres y apellidos del cliente. Si "type": Company enviar name: ["Stark Industries"] Si "type": Person enviar name: ["Marcos" , "Castillo"]
+ commercial_name: Siigo (string) - Nombre comercial o Nombre de fantasía de la empresa ciente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.
+ active: true (boolean) - Estado del cliente en Siigo, valor por default true.
+ vat_responsible: false (boolean) - Tipo de régimen IVA. True si es responsable de IVA, False si no es responsable de IVA, valor por default false.
+ fiscal_responsibilities (array[FiscalResponsabilityIn]) - Responsabilidades fiscales del cliente, valor por default R-99-PN.
+ address (AddressIn,required) - Dirección del cliente.
+ phones (array[Phone],required) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact],required) - Indica los contactos asociados al cliente.
+ comments: Comentarios (string) - Observaciones.
+ related_users (RelatedUsers) - Asigna el vendedor y el cobrador encargado del recaudo de cartera al cliente.

## CustomerInEc (object)
+ `type` (CustomerType) - Tipo de cliente, valor por default Customer.
+ `person_type` (PersonType,required) - Tipo de persona.
+ id_type: 13 (string,required) - Código del tipo de identificación del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ name: ``Marcos``,``Castillo`` (array[string], required) - Razón social o nombres y apellidos del cliente. Si "type": Company enviar name: ["Stark Industries"] Si "type": Person enviar name: ["Marcos" , "Castillo"]
+ commercial_name: Siigo (string) - Nombre comercial o Nombre de fantasía de la empresa ciente.
+ active: true (boolean) - Estado del cliente en Siigo, valor por default true.
+ address (AddressIn,required) - Dirección del cliente.
+ phones (array[Phone],required) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact],required) - Indica los contactos asociados al cliente.
+ comments: Comentarios (string) - Observaciones.
+ related_users (RelatedUsers) - Asigna el vendedor y el cobrador encargado del recaudo de cartera al cliente.

## CustomerOutEc (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ `type` (CustomerType) - Tipo de cliente, valor por default Customer.
+ `person_type` (PersonType) - Tipo de persona.
+ id_type (IdType) - Tipo de identificación del cliente.
+ identification: 13832081 (string) - Número de identificación del cliente.
+ name: ``Marcos``,``Castillo`` (array[string]) - Razón social o nombres y apellidos del cliente.
+ commercial_name: Siigo (string) - Nombre comercial o Nombre de fantasía de la empresa cLiente.
+ active: true (boolean) - Estado del cliente en Siigo, valor por default true.
+ address (AddressOut) - Dirección del cliente.
+ phones (array[Phone]) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact]) - Indica los contactos asociados al cliente.
+ comments: Comentarios (string) - Observaciones.
+ related_users (RelatedUsers) - Asigna el vendedor y el cobrador encargado del recaudo de cartera al cliente.
+ metadata (Metadata) - Información acerca de la entidad.

## CustomerOut (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ `type` (CustomerType) - Tipo de cliente, valor por default Customer.
+ `person_type` (PersonType,required) - Tipo de persona.
+ id_type (IdType,required) - Tipo de identificación del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ check_digit: 4 (string) - Dígito verificación, se calcula automáticamente.
+ name: ``Marcos``,``Castillo`` (array[string], required) - Razón social o nombres y apellidos del cliente.
+ commercial_name: Siigo (string) - Nombre comercial o Nombre de fantasía de la empresa cLiente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.
+ active: true (boolean) - Estado del cliente en Siigo, valor por default true.
+ vat_responsible: true (boolean) - Tipo de régimen IVA. True si es responsable de IVA, False si no es responsable de IVA, valor por default false.
+ fiscal_responsibilities (array[FiscalResponsability]) - Responsabilidades fiscales del cliente, valor por default R-99-PN.
+ address (AddressOut,required) - Dirección del cliente.
+ phones (array[Phone],required) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact],required) - Indica los contactos asociados al cliente.
+ comments: Comentarios (string) - Observaciones.
+ related_users (RelatedUsers) - Asigna el vendedor y el cobrador encargado del recaudo de cartera al cliente.
+ metadata (Metadata) - Información acerca de la entidad.

## PurchaseOrder
+ prefix: OC (string) - Prefijo de orden de compra.
+ number: 23 (string) - Número de orden de compra.

## DeliveryOrder
+ prefix: OE (string) - Prefijo de orden de entrega.
+ number: Dos mil (string) - Número de orden de entrega.
+ date: ``2021-03-19`` (string,required) - Fecha de orden de entrega.

## AdditionalFieldsInvoice (object)
+ purchase_order (PurchaseOrder) - Orden de compra
+ delivery_order (DeliveryOrder) - Orden de entrega

## AdditionalFieldsInvoices (object)



## Pagination
+ page: 1 (number)
+ page_size: 25 (number)
+ total_results: 253 (number)

# CustomersOutList (object)
+ `pagination` (Pagination)
+ results (array[CustomerOut])
+ _links
    - *previous*
        - href: https://api.siigo.com/v1/customers?page=4&page_size=25
    - *self*
        - href: https://api.siigo.com/v1/customers?page=5&page_size=25
    - *next*
        - href: https://api.siigo.com/v1/customers?page=6&page_size=25

## StampInDian (object)
+ send: true (boolean,required) - Indica nombre del estado 

## StampOutDian (object)
+ status: Accepted
+ cufe: 7eb8c882cd62daffded44b7d08668d04383b579c86b5bf23dcb3d601a2347bac07a7e08ae2c3602787bfaf91691449a6
+ observations: Revisa los errores en el comprobante e intenta enviarlo nuevamente desde Siigo Nube
+ errors: https://api.siigo.com/v1/invoices/c281a9b1-aea4-40b4-a776-2b8890cc54f5/stamp/errors


## CustomerInInvoiceS (object)
+ person_type: Person (string, required) - Tipo de persona asociado al documento.
+ id_type: 13 (number, required) - Identificador del tipo de tercero.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ branch_office: 0 (number) - Sucursal, valor por default 0

## CustomerOutInvoiceS (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.

## CustomerInInvoice (object)
+ person_type: Person (string, required) - Tipo de persona asociado al documento.
+ id_type: 13 (number, required) - Identificador del tipo de tercero.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.
+ name: ``Manuel``,``Camacho`` (array[string], required) - Razón social o nombres y apellidos del cliente.
+ address (AddressOut,required) - Dirección del cliente.
+ phones (array[Phone],required) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact],required) - Indica los contactos asociados al cliente.

## CustomerOutInvoice (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.

## CustomerOutInvoiceCompletoSinUsar (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ `type` (CustomerType) - Tipo de cliente, valor por default Customer.
+ `person_type` (PersonType,required) - Tipo de persona.
+ id_type: 13 (string,required) - Código del tipo de identificación del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ check_digit: 4 (string) - Dígito verificación, se calcula automáticamente.
+ name: ``Marcos``,``Castillo`` (array[string], required) - Razón social o nombres y apellidos del cliente.
+ commercial_name: Siigo (string) - Nombre comercial o Nombre de fantasía de la empresa cLiente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.
+ vat_responsible: true (boolean) - Tipo de régimen IVA. True si es responsable de IVA, False si no es responsable de IVA.
+ fiscal_responsibilities (array[FiscalResponsability]) - Responsabilidades fiscales del cliente, valor por default R-99-PN.
+ address (AddressOut,required) - Dirección del cliente.
+ phones (array[Phone],required) - Indica los teléfonos asociados al cliente.
+ contacts (array[Contact],required) - Indica los contactos asociados al cliente.


## NameCustomer (object)
+ code: ``Item-1`` (string,required) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.



## ItemIn (object)
+ code: ``Item-1`` (string,required) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ quantity: 1 (number,required) - Cantidad.
+ price: 1069.77 (number,required) - Precio del producto / Valor unitario.
+ discount: ``0.0`` (number) - Porcentaje o Valor de descuento. Según configuración de la factura.
+ taxes (array[TaxIn]) - Impuestos que se desean asociar al producto o servicio.

## ItemOut (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159ps`` (string) - Identificador del producto/servicio.
+ code: ``Item-1`` (string) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ quantity: 2 (number) - Cantidad. En Siigo Nube queda registado con dos decimales.
+ price: 1069.77 (number) - Precio del producto / Valor unitario. En Siigo Nube queda registado con dos decimales.
+ discount (Discount) - Porcentaje y valor de descuento.
+ taxes (array[TaxOutInvoice]) - Impuestos que se desean asociar al producto o servicio.
+ total: 2546.05 (number) - Total del producto, incluye impuestos.

## ItemInDev (object)
+ code: ``Item-1`` (string,required) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ warehouse: 371092 (number) - Identificador de la bodega/almacén asociada al producto.
+ quantity: 1 (number,required) - Cantidad.
+ price: 1069.77 (number,required) - Precio del producto / Valor unitario.
+ taxed_price: 1500 (number) - Precio del producto con impuesto de IVA incluido. 
+ discount: ``0.0`` (number) - Porcentaje o Valor de descuento. Según configuración de la factura.
+ taxes (array[TaxIn]) - Impuestos que se desean asociar al producto o servicio.

## ItemOutDev (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159ps`` (string) - Identificador del producto/servicio.
+ code: ``Item-1`` (string) - Código único del producto.
+ description: Camiseta de algodón (string) - Nombre o descripción del producto/servicio.
+ warehouse (WarehouseOutInvoice) - Bodega/almacén asociada al producto. *Revisar
+ quantity: 2 (number) - Cantidad. En Siigo Nube queda registado con dos decimales.
+ price: 1069.77 (number) - Precio del producto / Valor unitario. En Siigo Nube queda registado con dos decimales.
+ discount (Discount) - Porcentaje y valor de descuento.
+ taxes (array[TaxOutInvoice]) - Impuestos que se desean asociar al producto o servicio.
+ total: 2546.05 (number) - Total del producto, incluye impuestos.

## PaymentDocument
+ prefix: ``FV-2`` (string,required) - Prefijo - Comprobante a cruzar, si el cliente tiene anticipos.
+ consecutive: 22 (number,required) - Consecutivo
+ quote: 1 (number) - Cuota

## PaymentIn (object)
+ id: 5636 (number) - ID del medio de pago.
+ value: ``1273.03`` (number,required) - Valor asociado al medio de pago.
+ due_date: ``2021-03-19`` (string) - Fecha pago cuota, formato yyyy-MM-dd.

## PaymentOut (object)
+ id: 5636 (number) - ID del medio de pago.
+ name: ``Crédito`` (string) - Nombre del medio de pago.
+ value: ``1273.03`` (number,required) - Valor asociado al medio de pago.
+ due_date: ``2021-03-19`` (string) - Fecha pago cuota, formato yyyy-MM-dd.

## VoucherPaymentIn (object)
+ id: 5636 (number,required) - ID del medio de pago con cuenta contable que no maneja vencimiento.
+ value: ``119000`` (number,required) - Valor asociado al medio de pago.

## VoucherPaymentOut (object)
+ id: 5636 (number,required) - ID del medio de pago con cuenta contable que no maneja vencimiento.
+ name: ``Crédito`` (string) - Nombre del medio de pago.
+ value: ``119000`` (number,required) - Valor asociado al medio de pago.

# InvoicesOutList (object)
+ `pagination` (Pagination)
+ results (array[InvoiceOut])
+ _links
    - *previous*
        - href: https://api.siigo.com/v1/invoices?page=4&page_size=25
    - *self*
        - href: https://api.siigo.com/v1/invoices?page=5&page_size=25
    - *next*
        - href: https://api.siigo.com/v1/invoices?page=6&page_size=25


# DocumentCC (object)
+ id: 27441 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=CC*

# DocumentFV (object)
+ id: 24446 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=FV*

# DocumentInDev (object)
+ id: 24446 (number,required) - Identificador del comprobante
+ number: 22 (number) - Consecutivo/número del comprobante, el campo NO es obligatorio por defecto, depende de la configuración del tipo de comprobante.

# DocumentNC (object)
+ id: 77775 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=NC*

# DocumentRC (object)
+ id: 7714 (number,required) - Identificador del comprobante *https://api.siigo.com/v1/document-types?type=RC*

# Totals (object)
+ total: 2546.05 (number) - Total del comprobante, es calculado según el manejo de decimales que tenga configurada la empresa al momento de la creación.
+ totalDiscounts
+ totalVat
+ totalRetefuente

## InvoiceInS (object)
+ document (DocumentFV,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2015-12-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerInInvoiceS,required) - Identificador del cliente asociado a la factura.
+ cost_center: 235 (number) - Centro de costo, el campo es obligatorio según la configuración del comprobante
+ currency (Currency) - Código de Moneda Extranjera
+ seller: 629 (number,required) - ID del vendedor asociado a la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemIn],required) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.


## InvoiceOutS (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la factura de venta.
+ document (DocumentFV) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes) factura.
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``FV-2-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2015-12-15`` (string) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerOutInvoiceS) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 235 (number) - Centro de costo.
+ currency (Currency) - Código de Moneda Extranjera
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ balance: 0 (number) - Saldo pendiente de pago en la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.
+ metadata (Metadata) - Información acerca de la entidad.

## InvoiceIn (object)
+ document (DocumentFV,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2015-12-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerInInvoice,required) - Identificador del cliente asociado a la factura.
+ cost_center: 235 (number) - Centro de costo, el campo es obligatorio según la configuración del comprobante
+ currency (Currency) - Código de Moneda Extranjera
+ seller: 629 (number,required) - ID del vendedor asociado a la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemIn],required) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.


## InvoiceOut (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la factura de venta.
+ document (DocumentFV) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes) factura.
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``FV-2-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2015-12-15`` (string) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 235 (number) - Centro de costo.
+ currency (Currency) - Código de Moneda Extranjera
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ balance: 0 (number) - Saldo pendiente de pago en la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.
+ metadata (Metadata) - Información acerca de la entidad.

## InvoiceInDian (object)
+ document (DocumentFV,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2015-12-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerInInvoice,required) - Identificador del cliente asociado a la factura.
+ cost_center: 235 (number) - Centro de costo, el campo es obligatorio según la configuración del comprobante
+ currency (Currency) - Código de Moneda Extranjera
+ seller: 629 (number,required) - ID del vendedor asociado a la factura.
+ stamp (StampInDian) - Campo para indicar el envío de la factura electronica
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemIn],required) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.


## InvoiceOutDian (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la factura de venta.
+ document (DocumentFV) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes) factura.
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``FV-2-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2015-12-15`` (string) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 235 (number) - Centro de costo.
+ currency (Currency) - Código de Moneda Extranjera
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ balance: 0 (number) - Saldo pendiente de pago en la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ stamp (StampOutDian) - Campo para indicar el envío de la factura electronica
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ additional_fields (AdditionalFieldsInvoices) - Campos adicionales como: Orden de compra y Orden de entrega.
+ metadata (Metadata) - Información acerca de la entidad.

## InvoiceInDev (object)
+ document (DocumentFV,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2015-12-15`` (string,required) - Fecha de la factura, formato yyyy-MM-dd.
+ customer (CustomerInInvoice,required) - Identificador del cliente asociado a la factura.
+ cost_center: 25732 (number) - Identificador del Centro de costos.
+ currency (Currency) - Información de la moneda y tasa de cambio asociada a la factura.
+ seller: 629 (number,required) - ID del vendedor asociado a la factura.
+ retentions (array[TaxRet]) - Retenciones que se desean asociar al producto o servicio, el campo es obligatorio según la configuración del tipo de comprobante.
+ advance_payment: 132 (number) - Valor de Anticipo o Copago.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.+ advance_payment: 132 (number) - Valor de Anticipo o Copago.
+ items (array[ItemInDev],required) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la factura.
+ additional_fields (AdditionalFieldsInvoice) - Campos adicionales como: Orden de compra y Orden de entrega.

## InvoiceOutDev (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la factura de venta.
+ document (DocumentFV) -  Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Facturas)
+ date: ``2015-12-15`` (string) - Fecha de la factura, formato yyyy-MM-dd.
+ status: pagada (string) - Estado de la factura.
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 25732 (number) - Centro de costos.
+ currency (Currency) - Información de la moneda y tasa de cambio asociada a la factura.
+ retentions (array[RetentionOutInvoice]) - Retenciones que se desean asociar al producto o servicio.
+ advance_payment: 132 (number) - Valor de Anticipo o Copago.
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ balance: 0 (number) - Saldo pendiente de pago en la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ observations: Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ additional_fields (AdditionalFieldsInvoice) - Campos adicionales como: Orden de compra y Orden de entrega.
+ metadata (Metadata) - Información acerca de la entidad.

## InvoiceOutCreditNote (object)
+ id: ``302580df-838b-4531-b8bf-dd3c98b34059`` (string) - Identificador de la factura que se le aplicó la Nota Crédito.
+ name: ``FV-2-20`` (string) - Nombre de la factura que se visualiza en Siigo Nube.

## InvoiceInCreditNote (object)
+ id: ``302580df-838b-4531-b8bf-dd3c98b34059`` (string) - Identificador de la factura que se le aplicó la Nota Crédito.

## CreditNoteIn (object)
+ document (DocumentNC,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Notas crédito)
+ number: 22 (number,optional) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ date: ``2015-12-15`` (string,required) - Fecha de la nota crédito, formato yyyy-MM-dd.
+ invoice:  ``302580df-838b-4531-b8bf-dd3c98b34059`` (string) - Identificador de la factura que se le aplicó la Nota Crédito
+ cost_center: 235 (number) - Centro de costos.
+ reason: 1 (enum,required) - Motivo de devolución DIAN
+ retentions (array[TaxIn]) - Retenciones que se desean asociar al producto o servicio, el campo es obligatorio según la configuración del tipo de comprobante.
+ observations : Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemIn],required) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentIn],required) - Formas de pago asociadas a la Nota Crédito.

## CreditNoteOut (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la nota crédito.
+ document (DocumentNC) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Notas crédito)
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``NC-2-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2020-12-22`` (string) - Fecha de la nota crédito, formato yyyy-MM-dd.
+ invoice (InvoiceOutCreditNote) - Información de la factura que se le aplicó la nota crédito
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 235 (number) - Centro de costos.
+ currency (Currency) - Información de la moneda y tasa de cambio asociada a la nota crédito.
+ retentions (array[RetentionOutInvoice]) - Retenciones que se desean asociar al producto o servicio.
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ observations : Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ metadata (Metadata) - Información acerca de la entidad.

## CreditNoteOutDev (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de la nota crédito.
+ document (DocumentNC) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Notas crédito)
+ date: ``2020-12-22`` (string) - Fecha de la nota crédito, formato yyyy-MM-dd.
+ invoice (InvoiceOutCreditNote) - Información de la factura que se le aplicó la nota crédito
//+ status : pagada (string) - Estado de la nota crédito.
+ customer (CustomerOutInvoice) - Identificador del cliente asociado a la factura.*Revisar
+ cost_center: 235 (number) - Centro de costos.
+ currency (Currency) - Información de la moneda y tasa de cambio asociada a la nota crédito.
+ retentions (array[RetentionOutInvoice]) - Retenciones que se desean asociar al producto o servicio.
+ total: 2546.05 (number) - Total de la factura, es calculado según el manejo de decimales que tenga configurada la empresa al momento de crear la factura.
+ seller: 629 (number) - ID del vendedor asociado a la factura.
+ observations : Observaciones (string) - Comentarios para agregar información a la factura.
+ items (array[ItemOut]) - Productos o Servicios asociados a la factura.
+ payments (array[PaymentOut]) - Formas de pago asociadas a la factura.
+ metadata (Metadata) - Información acerca de la entidad.

# CreditNotesOutList (object)
+ `pagination` (Pagination)
+ results (array[CreditNoteOut])
+ _links
    - *previous*
        - href: https://api.siigo.com/v1/credit-notes?page=4&page_size=25
    - *self*
        - href: https://api.siigo.com/v1/credit-notes?page=5&page_size=25
    - *next*
        - href: https://api.siigo.com/v1/credit-notes?page=6&page_size=25

## VoucherType (enum)
+ `DebtPayment` - Abono a deuda
+ `AdvancePayment` - Anticipo
+ `Detailed` - Avanzado

## VoucherTypeDetailed (enum)
+ `Detailed` - Avanzado



## VoucherMovementType (enum)
+ `Debit` - Debito
+ `Credit` - Crédito

## JournalMovementTyped (enum)
+ `Debit` - Debito
+ `Credit` - Crédito

## JournalMovementTypec (enum)
+ `Credit` - Crédito
+ `Debit` - Débito

## TaxInVoucher (object)
+ id: 13156 (number) - Identificador único del impuesto.

## TaxOutVoucher (object)
+ id: 13156 (number) - Identificador único del impuesto.
+ name: IVA 19% (string) - Nombre del impuesto.
+ percentage: 19 (number) - Porcentaje del impuesto.
+ base_value: 100000 (number) Valor Base

## ItemVoucher (object)
+ due (Due) - Vencimiento / Factura de venta a la cuál se le va a aplicar el abono o pago
+ value: 119000 (number,required) - Valor total del item 

## Due (object)
+ prefix: ``FV-1`` (string,required) - Prefijo de factura a la cual se le va a aplicar el abono o pago
+ consecutive: 68 (number,required) - Consecutivo de la factura a la cual se le va a aplicar el abono o pago 
+ quote: 1 (number,required) - Número de la cuota que se va a pagar o a abonar
+ date: ``2021-04-22`` (string) - Fecha pago cuota, formato yyyy-MM-dd.

## DueDetailed (object)
+ prefix: ``FV-1`` (string,required) - Prefijo de factura a la cual se le va a aplicar el abono o pago
+ consecutive: 68 (number,required) - Consecutivo de la factura a la cual se le va a aplicar el abono o pago 
+ quote: 1 (number,required) - Número de la cuota que se va a pagar o a abonar
+ date: ``2021-04-22`` (string) - Fecha pago cuota, formato yyyy-MM-dd.

## ItemInCC (object)
+ account (JournalAccountd, required) - Cuenta contable
+ customer (CustomerInVoucher,required) - Identificador del tercero asociado al comprobante contable.
+ description: ``Descripción opcional del débito``(string) - descripción 
+ cost_center: 235 (number) - Centro de costos. El campo es obligatorio según la configuración del comprobante.
+ value: 119000 (number, required) - Valor total del item


## ItemVoucherDetailed (object)
+ account (VoucherAccount, required) - Cuenta contable
+ due (DueDetailed) - Factura de venta a la cuál se le va a aplicar el recibo de caja
+ description: ``FV-2 Base``(string) - descripción 
+ value: 119000 (number, required) - Valor total del item


## ItemOutVoucherDetailed (object)
+ account (VoucherAccount) - Cuenta contable
+ due (DueDetailed) - Factura de venta a la cuál se le va a aplicar el recibo de caja
+ description: ``FV-2 Base``(string) - descripción 
+ value: 119000 (number, required) - Valor total del item

## CustomerInVoucher (object)
+ identification: 209048401 (string, required) - Número de identificación del cliente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.

## CustomerOutVoucher (object)
+ id: ``6b6ceb28-b2eb-4b98-b3dd-26648a933c81`` (string) - Identificador del cliente.
+ identification: 13832081 (string, required) - Número de identificación del cliente.
+ branch_office: 0 (number) - Sucursal, valor por default 0.

# VoucherAccount (object)
+ code: 13050501 (string,required) - Código de la cuenta contable.
+ movement (VoucherMovementType,required) - Tipo de movimiento a realizar con la cuenta.

# JournalAccountd (object)
+ code: 11050501 (string,required) - Código de la cuenta contable.
+ movement (JournalMovementTyped,required) - Tipo de movimiento a realizar con la cuenta.

# JournalAccountc (object)
+ code: 11100501 (string,required) - Código de la cuenta contable.
+ movement (JournalMovementTypec,required) - Tipo de movimiento a realizar con la cuenta.



## VoucherIn (object)
+ document (DocumentRC,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Recibos de caja)
+ date: ``2021-04-22`` (string,required) - Fecha de elaboración del recibo de caja, formato yyyy-MM-dd.
+ type (VoucherType,required) - Tipo de Recibo de Caja.
+ customer (CustomerInVoucher,required) - Identificador del cliente asociado al recibo de caja.
+ items (array[ItemVoucher]) - Facturas a las que se les va a aplicar el abono o pago. (Obligatorio si type = DebtPayment)
+ payment (VoucherPaymentIn) - ID y valor de la forma de pago.
+ observations : Observaciones (string) - Comentarios para agregar información al recibo de caja.

## VoucherOut (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de el recibo de caja.
+ document (DocumentRC) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Recibos de caja)
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``RC-2-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2015-12-15`` (string,required) - Fecha de elaboración del recibo de caja, formato yyyy-MM-dd.
+ type (VoucherType,required) - Tipo de Recibo de Caja.
+ customer (CustomerOutVoucher,required) - Identificador del cliente asociado al recibo de caja.
+ items (array[ItemVoucher]) -Facturas a las que se les aplicó el abono o pago.
+ payment (VoucherPaymentOut) - ID y valor de la forma de pago.
+ balance: 0 (number) - Saldo del recibo de caja.
+ observations : Observaciones (string) - Comentarios para agregar información al recibo de caja.
+ metadata (Metadata) - Información acerca de la entidad.

## VoucherInDetailed (object)
+ document (DocumentRC,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Recibos de caja)
+ date: ``2015-12-15`` (string,required) - Fecha de elaboración del recibo de caja, formato yyyy-MM-dd.
+ type (VoucherTypeDetailed,required) - Tipo de recibo de caja
+ customer (CustomerInVoucher,required) - Identificador del cliente asociado al recibo de caja.
+ cost_center: 235 (number) - Centro de costos. El campo es obligatorio según la configuración del comprobante.
+ items (array)
    + (object)
        + account(JournalAccountd)
        + description: ``Descripción Débito``(string) - descripción 
        + value: ``119000`` (number,required) - Valor débito.
        
        
    + (object)
        + account(JournalAccountc)
        + description: ``Descripción Crédito``(string) - descripción 
        + value: ``119000`` (number,required) - Valor crédito.    
+ observations : Observaciones (string) - Comentarios para agregar información al recibo de caja.

## VoucherOutDetailed(object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de el Recibo de Caja.
+ document (DocumentRC) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Recibos de caja)
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``RC-2-22`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2015-12-15`` (string,required) - Fecha de elaboración del recibo de caja, formato yyyy-MM-dd.
+ type (VoucherTypeDetailed,required) - Tipo de recibo de caja
+ customer (CustomerOutVoucher,required) - Identificador del tercero asociado al recibo de caja.
+ items (array)
    + (object)
        + account(JournalAccountd)
        + description: ``Descripción Débito``(string) - descripción 
        + value: ``119000`` (number,required) - Valor débito.
        
        
    + (object)
        + account(JournalAccountc)
        + description: ``Descripción Crédito``(string) - descripción 
        + value: ``119000`` (number,required) - Valor crédito.    
+ observations : Observaciones (string) - Comentarios para agregar información al recibo de caja.
+ metadata (Metadata) - Información acerca de la entidad.





## JournalsInDev (object)
+ document (DocumentCC,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Comprobante Contable.
+ date: ``2021-05-15`` (string,required) - Fecha de elaboración del comprobante contable formato yyyy-MM-dd.
+ items (array)
    + (object)
        + account(JournalAccountd)
        + customer (CustomerInVoucher,required) - Identificador del tercero asociado al comprobante contable.
        + description: ``Descripción Débito``(string) - descripción 
        + cost_center: 235 (number) - Centro de costos.
        + value: ``119000`` (number,required) - Valor débito.
        
        
    + (object)
        + account(JournalAccountc)
        + customer (CustomerInVoucher,required) - Identificador del tercero asociado al comprobante contable.
        + description: ``Descripción Crédito``(string) - descripción 
        + cost_center: 235 (number) - Centro de costos.
        + value: ``119000`` (number,required) - Valor crédito.
+ observations : Observaciones (string) - Comentarios para agregar información al comprobante contable.


## JournalsOutDev (object)
+ id: ``63f918c2-ca65-4edc-a7db-66bcdd5159fb`` (string) - Identificador de el comprobante contable.
+ document (DocumentCC,required) - Tipo de Comprobante (Para verificar la configuración ir a Siigo Nube en el menú Configuración > Transacciones > Comprobantes > Comprobante Contable.
+ number: 22 (number) - Consecutivo/número del comprobante, el campo es obligatorio según la configuración del tipo de comprobante.
+ name: ``CC-10-20`` (string) - Tipo de Comprobante + Código de Comprobante + Número de Comprobante
+ date: ``2021-05-15`` (string,required) - Fecha de elaboración del comprobante contable formato yyyy-MM-dd.
+ items (array)
    + (object)
        + account(JournalAccountd)
        + customer (CustomerOutVoucher,required) - Identificador del tercero asociado al comprobante contable.
        + description: ``Descripción Débito``(string) - descripción 
        + cost_center: 235 (number) - Centro de costos.
        + value: ``119000`` (number,required) - Valor débito.
        
        
    + (object)
        + account(JournalAccountc)
        + customer (CustomerOutVoucher,required) - Identificador del tercero asociado al comprobante contable.
        + description: ``Descripción Crédito``(string) - descripción 
        + cost_center: 235 (number) - Centro de costos.
        + value: ``119000`` (number,required) - Valor crédito.
+ balance: 0 (number) -  Saldo del comprobante contable.        
+ observations : Observaciones (string) - Comentarios para agregar información al comprobante contable.
+ metadata (Metadata) - Información acerca de la entidad.



## PurchaseInDev (object)


## PurchaseOutDev (object)


# VouchersOutList (object)
+ `pagination` (Pagination)
+ results (array[VoucherOut])
+ _links
    - *previous*
        - href: https://api.siigo.com/v1/vouchers?page=4&page_size=25
    - *self*
        - href: https://api.siigo.com/v1/vouchers?page=5&page_size=25
    - *next*
        - href: https://api.siigo.com/v1/vouchers?page=6&page_size=25


# Group Autenticación
Para comunicarte con nuestro servicio debes autenticarte mediante un esquema **OAuth**. Como primer paso debes generar un Token de acceso tipo [JWT](https://jwt.io/ "JSON Web Tokens").

Para generar el token deberás utilizar las credenciales conformadas por **username** y **access_key**. 

Para realizar la generación de credenciales es necesario ingresar a Siigo Nube, menú *Configuración* `>` *Más configuraciones*`>`*API / Integraciones*`>`*Credenciales usuario API - Nuevo* 🌟

Puedes solicitar la información de pruebas a nuestras [líneas de atención](https://www.siigo.com/contactenos/ "Contáctanos"), indicando el NIT registrado en Siigo y te suministraremos los datos vía correo.

## Generar Token [POST /auth]

Obtendrás un **access_token** válido por **24 horas**. Este token debe ser enviado en la cabecera de autorización (Authorization) de todas las peticiones al API.

+ Request (application/json)

    + Headers
    

    + Attributes (TokenIn)
    

+ Response 201 (application/json)

    + Attributes (TokenOut)

    + Body

# Group Productos
Son los bienes y/o servicios que adquiere la empresa para su propio uso o para realizar comercialización de ellos.

## Crear Producto [POST /v1/products]
Crear un nuevo producto/servicio.

Nombre          |Tipo                          |Descripción
----------------|------------------------------|---------------
code            |*string, filterable*          | Código único del producto.
name            |*string*                      | Nombre del producto.
account_group   |*number*                      | Id de la clasificación de inventario <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/grupos-de-inventario/grupos-de-inventario">**/account-groups**</a>
type            |*string*                      | Tipo del producto: Product, Service, ConsumerGood

Aquí encontrarás las **[Unidades de Medida](https://siigonube.portaldeclientes.siigo.com/wp-content/uploads/2020/08/Tabla-de-variables.xlsx "Unidades de medida")** que puedes utilizar en Siigo API.

+ Request (application/json)

    + Headers

            Authorization: [access_token]

    + Attributes (ProductIn)
    

+ Response 201 (application/json)

    + Attributes (ProductOutCreate)

    + Body
    

## Consultar Producto [GET /v1/products/{product_id}]
Consultar un producto o servicio único por su id.

Se manejan los siguientes datos informativos:

Nombre                   |Tipo                   |Descripción
-------------------------|-----------------------|---------------
**available_quantity**   |number                 | Indica la cantidad disponible en el inventario. Si el producto se encuentra distribuido en múltiples bodegas, este atributo retorna la cantidad disponible en todas las bodegas.

+ Parameters
    + product_id (string,`00584089-4ebc-49de-bf75-6a6cc968a96d`)
 
+ Request (application/json)
    
    + Headers
            
            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (ProductOut)

    + Body


## Listar Productos [GET /v1/products{?created_start}]
Devuelve una lista de los productos o servicios. Los productos se devuelven ordenados por fecha de creación, y los productos creados más recientemente aparecen primero.

Listado de productos en Siigo Nube en el menú lateral: *Transacciones* `>` *Inventarios* `>` *Productos / Servicios.*

---------------------------------------------------------------------------------------

**Query Parameters**
Puedes utilizar los siguientes parámetros para poder realizar filtros en las consultas.


Param                  |Type       |Description
-----------------------|-----------|-----------------------------------------------------------------------------------
**code**               |Date       | Devuelve resultados por "code".
**created_start**      |Date       | Devuelve resultados donde el campo "created" es mayor o igual que este valor.
**created_end**        |Date       | Devuelve resultados donde el campo "created" es menor o igual que este valor.
**updated_start**      |Date       | Devuelve resultados donde el campo "last_updated " es mayor o igual que este valor.
**updated_end**        |Date       | Devuelve resultados donde el campo "last_updated" es menor o igual que este valor.

**Date**: yyyy-MM-dd

**Date and time in UTC**: yyyy-MM-ddTHH:mm:ssZ

+ Parameters
    + created_start (optional, type, `2021-02-17`)

+ Request (application/json)

    + Headers

            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (ProductsOutList)

    + Body
    

## Actualizar Producto [PUT /v1/products/id]
Actualizar un producto/servicio.

+ Request (application/json)

    + Headers

            Authorization: [access_token]

    + Attributes (ProductIn)
    

+ Response 200 (application/json)

    + Attributes (ProductOut)

    + Body


## Borrar Producto [DELETE /v1/products/id_]
Borrar un producto o servicio.

+ Request (application/json)

    + Headers
    
            Authorization: [access_token]

+ Response 200 (application/json)

    + Headers
    
    + Body
    
            {
                "id": "63f918c2-ca65-4edc-a7db-66bcdd5159fb",
                "deleted": true
            }
            
# Group Clientes
Los clientes o terceros son las personas naturales y/o jurídicas que manejan relaciones comerciales o administrativas con la empresa.

## Crear Cliente [POST /v1/customers]
Crear un nuevo cliente o tercero.

Nombre          |Tipo                  |Descripción
----------------|----------------------|---------------
name            |*array*               | Razón social o nombres y apellidos del cliente.

**Parámetros para Colombia**

ID       |Tipo de identificación
---------|---------------------------------------
13       | Cédula de ciudadanía
31       | NIT
22       | Cédula de extranjería
42       | Documento de identificación extranjero
50       | NIT de otro país
R-00-PN  | No obligado a registrarse en el RUT PN
91       | NUIP 
41       | Pasaporte
14       | Permiso especial de permanencia PEP
11       | Registro civil
43       | Sin identificación del exterior o para uso definido por la DIAN
21       | Tarjeta de extranjería
12       | Tarjeta de identidad

Ciudad    |Country Code|State Code|City Code
----------|------------|----------|----------
Bogotá    |CO          |11        |11001
Medellín  |CO          |05        |05001
Nueva York|US          |01        |0101

Aquí encontrarás la **[Lista de Ciudades](https://siigonube.portaldeclientes.siigo.com/wp-content/uploads/2021/08/Lista-de-ciudades.xlsx "Ciudades")** que puedes utilizar en Siigo API.

Código          |Responsabilidades fiscales                              
----------------|---------------------------------------
R-99-PN         |No Aplica - Otros*
O-13            |Gran contribuyente
O-15            |Autorretenedor
O-23            |Agente de retención IVA
O-47            |Régimen simple de tributación

+ Request (application/json)

    + Headers

            Authorization: [access_token]

    + Attributes (CustomerIn)
        
+ Response 201 (application/json)

     + Attributes (CustomerOut)

    + Body
        

## Consultar Cliente [GET /v1/customers/{customer_id}]
Consultar un tercero por su id.

+ Parameters
    + customer_id (string,`6b6ceb28-b2eb-4b98-b3dd-26648a933c81`)

+ Request
    
    + Headers
            
            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (CustomerOut)

    + Body
    

## Listar Clientes [GET /v1/customers{?created_start}]
Lista todos los clientes o terceros.

Listado de clientes en Siigo Nube en el menú lateral: *Reportes* `>` *Cartera / proveedores* `>` *Búsqueda de terceros*

O en el menú lateral: *Transacciones* `>` *Cuánto me deben* `>` *Clientes*



**Query Parameters**

Param                  |Type       |Description
-----------------------|-----------|-----------------------------------------------------------------------------------
**identification**     |String     | Devuelve resultados por "identification".
**branch_office**      |Number     | Devuelve resultados por "branch_office".
**created_start**      |Date       | Devuelve resultados donde el campo "created" es mayor o igual que este valor.
**created_end**        |Date       | Devuelve resultados donde el campo "created" es menor o igual que este valor.
**updated_start**      |Date       | Devuelve resultados donde el campo "last_updated " es mayor o igual que este valor.
**updated_end**        |Date       | Devuelve resultados donde el campo "last_updated" es menor o igual que este valor.

**Date**: yyyy-MM-dd

**Date and time in UTC**: yyyy-MM-ddTHH:mm:ssZ

+ Parameters
    + created_start (optional, type, `2021-02-17`)

+ Request (application/json)

    + Headers

            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (CustomersOutList)

    + Body


## Actualizar Cliente [PUT /v1/customers/{id}]
Actualizar un cliente o tercero.

+ Request (application/json)

    + Headers

            Authorization: [access_token]

    + Attributes (CustomerIn)
        
+ Response 200 (application/json)

     + Attributes (CustomerOut)

    + Body


## Borrar Cliente [DELETE /v1/customers/id_]
Borrar un cliente o tercero.

+ Request (application/json)

    + Headers
    
            Authorization: [access_token]
    + Body
    

+ Response 200 (application/json)

    + Headers
    
    + Body
    
            {
                "id": "63f918c2-ca65-4edc-a7db-66bcdd5159fb",
                "deleted": true
            }
            
            
# Group Facturas de Venta
Comprobante que permite registrar las cantidades y valores de los productos y/o servicios que estás vendiendo en la empresa.

## Crear Factura  [POST /v1/invoices]
Crear una nueva factura de venta teniendo en cuenta que el cliente o tercero ya está creado en la base de datos de Siigo Nube.

Nombre                      |Tipo          |Descripción
----------------------------|--------------|---------------
document.id                 |*number*      | Identificador del tipo de comprobante. <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/tipos-de-comprobante">**/document-types**</a>
number                      |*number*      | (*Opcional*) Consecutivo/número del comprobante, el campo NO es obligatorio, depende de la configuración del comprobante.
customer                    |*array*       | Array de los datos del cliente asociados a la factura.       
customer.person_type        |*string*      | Tipo de persona asociado al documento 
customer.id_type            |*number*      | Identificador del tipo de tercero 
customer.identification     |*string*      | Número de identificación del cliente.
customer.branch_office      |*number*      | (*Opcional*) Sucursal, valor por default 0.
seller                      |*number*      | Identificador del vendedor asociado a la factura. <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/usuarios">**/users**</a>
retentions                  |*array*       | (*Opcional*) Array con los id de los impuestos tipo ReteICA, ReteIVA o Autoretención <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/impuestos/impuestos">**/taxes**</a>
advance_payment             |*number*      | (*Opcional*) Valor de Anticipo o Copago.
cost_center                 |*number*      | (*Opcional*) Identificador del Centro de costos.
currency.code               |*string*      | (*Opcional*) Código de moneda.
currency.exchange_rate      |*number*      | (*Opcional*) Tasa / Valor en moneda extranjera.
items                       |*array*       | Array de los productos o servicios asociados a la factura.
items.seller                |*number*      | (*Opcional*) Identificador del [vendedor](https://siigoapi.docs.apiary.io/#reference/catalogos/usuarios/ "Users") asociado a la factura, el campo es obligatorio según la configuración de la factura.
items.warehouse             |*number*      | (*Opcional*) Identificador de la bodega/almacén asociada al producto.
adittional_fields           |*array*       | (*Opcional*) Campos adicionales para manejo de orden de compra y entrega.
payments                    |*array*       | Array de las formas de pago asociadas a la factura. <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/formas-de-pago">**/payment-types**</a>

**Campos adicionales (adittional_fields)** 

Permite enviar los campos orden de compra y orden de entrega.

* **purchase_order:** Campo de orden de compra.
* **delivery_order:** Campo de orden de entrega.

        
            "additional_fields": {
                "purchase_order": {
                    "prefix": "OC",
                    "number": "23"
                },
                "delivery_order": {
                    "prefix": "OE",
                    "number": "23",
                    "date": "2021-05-19"
                }
            }
        
**Parámetros**

Código  |Moneda
--------|---------------------------------------
COP     |Peso colombiano
EUR     |Euro
USD     |Dólar estadounidense
ANG     |Florín antillano neerlandés
ARS     |Peso argentino
AUD     |Dólar australiano
BOB     |Boliviano
BRL     |Real brasileño
CAD     |Dólar canadiense
CHF     |Franco suizo
CLP     |Peso chileno
CRC     |Colón costarricense
GBP     |Libra esterlina
GTQ     |Quetzal guatemalteco
HNL     |Lempira hondureño
JPY     |Yen japonés
MXN     |Peso mexicano
NZD     |Dólar neozelandés
PAB     |Balboa panameño
PEN     |Nuevo sol peruano
SGD     |Dólar de Singapur
UYU     |Peso uruguayo

+ Request (application/json)

    + Headers

            Authorization: [access_token]

    + Attributes (InvoiceInS)
    

+ Response 201 (application/json)

    + Attributes (InvoiceOutS)

    + Body



## Crear Factura + Nuevo cliente/tercero [POST /v1/invoices]
Crear una nueva factura de venta y adicionalmente generar la creación del cliente o empresa 

Nombre                      |Tipo          |Descripción
----------------------------|--------------|---------------
document.id                 |*number*      | Identificador del tipo de comprobante. <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/tipos-de-comprobante">**/document-types**</a>
number                      |*number*      | (*Opcional*) Consecutivo/número del comprobante, el campo NO es obligatorio, depende de la configuración del comprobante.
customer                    |*array*       | Array de los datos del cliente asociados a la factura.       
customer.person_type        |*string*      | Tipo de persona asociado al documento 
customer.id_type            |*number*      | Identificador del tipo de tercero 
customer.identification     |*string*      | Número de identificación del cliente.
customer.branch_office      |*number*      | (*Opcional*) Sucursal, valor por default 0.
customer.name               |*string*      | Nombre del cliente
customer.address            |*string*      | Dirección del cliente
customer.country_code       |*string*      | Pais del cliente
customer.state_code         |*number*      | Codigo de estado del cliente
customer.city_code          |*number*      | Codigo de ciudad del cliente
customer.number             |*number*      | Numero de telefono del cliente
customer.first_name         |*string*      | Nombre del contacto asociado al cliente
customer.last_name          |*string*      | Apellido del contacto asociado al cliente
customer.email              |*string*      | Correo electrónico del contacto asociado al cliente
seller                      |*number*      | Identificador del vendedor asociado a la factura. <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/usuarios">**/users**</a>
retentions                  |*array*       | (*Opcional*) Array con los id de los impuestos tipo ReteICA, ReteIVA o Autoretención <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/impuestos/impuestos">**/taxes**</a>
advance_payment             |*number*      | (*Opcional*) Valor de Anticipo o Copago.
cost_center                 |*number*      | (*Opcional*) Identificador del Centro de costos.
currency.code               |*string*      | (*Opcional*) Código de moneda.
currency.exchange_rate      |*number*      | (*Opcional*) Tasa / Valor en moneda extranjera.
items                       |*array*       | Array de los productos o servicios asociados a la factura.
items.seller                |*number*      | (*Opcional*) Identificador del [vendedor](https://siigoapi.docs.apiary.io/#reference/catalogos/usuarios/ "Users") asociado a la factura, el campo es obligatorio según la configuración de la factura.
items.warehouse             |*number*      | (*Opcional*) Identificador de la bodega/almacén asociada al producto.
adittional_fields           |*array*       | (*Opcional*) Campos adicionales para manejo de orden de compra y entrega.
payments                    |*array*       | Array de las formas de pago asociadas a la factura. <a href="https://siigoapi.docs.apiary.io/#reference/catalogos/formas-de-pago">**/payment-types**</a>

**Campos adicionales (adittional_fields)** 

Permite enviar los campos orden de compra y orden de entrega.

* **purchase_order:** Campo de orden de compra.
* **delivery_order:** Campo de orden de entrega.

        
            "additional_fields": {
                "purchase_order": {
                    "prefix": "OC",
                    "number": "23"
                },
                "delivery_order": {
                    "prefix": "OE",
                    "number": "23",
                    "date": "2021-05-19"
                }
            }
        
**Parámetros**

Código  |Moneda
--------|---------------------------------------
COP     |Peso colombiano
EUR     |Euro
USD     |Dólar estadounidense
ANG     |Florín antillano neerlandés
ARS     |Peso argentino
AUD     |Dólar australiano
BOB     |Boliviano
BRL     |Real brasileño
CAD     |Dólar canadiense
CHF     |Franco suizo
CLP     |Peso chileno
CRC     |Colón costarricense
GBP     |Libra esterlina
GTQ     |Quetzal guatemalteco
HNL     |Lempira hondureño
JPY     |Yen japonés
MXN     |Peso mexicano
NZD     |Dólar neozelandés
PAB     |Balboa panameño
PEN     |Nuevo sol peruano
SGD     |Dólar de Singapur
UYU     |Peso uruguayo

+ Request (application/json)

    + Headers

            Authorization: [access_token]

    + Attributes (InvoiceIn)
    

+ Response 201 (application/json)

    + Attributes (InvoiceOut)

    + Body
    
    
    

## Consultar Factura [GET /v1/invoices/{invoice_id}]
Consultar una factura por su id.

Para visualizar una factura en Siigo Nube puedes ingresar al ícono de la lupa que corresponde al Buscador, digita el número y oprime en Facturas.

+ Parameters
    + invoice_id (string,`b446fbc3-99c5-4c2d-8a28-1c0d3721ab91`)

+ Request
    
    + Headers
            
            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (InvoiceOut)

    + Body

## Listar Facturas [GET /v1/invoices{?created_start}]
Lista todas las facturas de venta.

Listado de facturas en Siigo Nube en el menú lateral: Transacciones > Proceso de ventas

**Query Parameters**

Param                  |Type       |Description
-----------------------|-----------|-----------------------------------------------------------------------------------
**created_start**      |Date       | Devuelve resultados donde el campo "created" es mayor o igual que este valor.
**created_end**        |Date       | Devuelve resultados donde el campo "created" es menor o igual que este valor.
**updated_start**      |Date       | Devuelve resultados donde el campo "last_updated " es mayor o igual que este valor.
**updated_end**        |Date       | Devuelve resultados donde el campo "last_updated" es menor o igual que este valor.

**Date**: yyyy-MM-dd

**Date and time in UTC**: yyyy-MM-ddTHH:mm:ssZ

+ Parameters
    + created_start (optional, type, `2021-02-17`)

+ Request (application/json)

    + Headers

            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (InvoicesOutList)

    + Body
    

## PDF Factura de Venta [GET /v1/invoices/{id}/pdf]
Generar pdf y ver la vista previa de la factura de venta integrada.

Para visualizar una factura en Siigo Nube puedes ingresar al ícono de la lupa que corresponde al Buscador, digita el número y oprime en Facturas.

+ Parameters
    + id(string,`b446fbc3-99c5-4c2d-8a28-1c0d3721ab91`)

+ Request
    
    + Headers
            
            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (pdf)

    + Body        
    


# Group Notas Crédito 
Comprobante que permite registrar las devoluciones parciales o totales de una factura de venta.

## Crear Nota Crédito [POST /v1/credit-notes]
Crear una nueva nota crédito.

Código       |Motivo DIAN
-------------|---------------------------------------
1            |Devolución parcial de los bienes y/o no aceptación parcial del servicio
2            |Anulación de factura electrónica
3            |Rebaja o descuento parcial o total 
4            |Ajuste de precio 
5            |Otros

+ Request (application/json)

    + Headers

            Authorization: [access_token]

    + Attributes (CreditNoteIn)
    

+ Response 201 (application/json)

    + Attributes (CreditNoteOut)

    + Body

## Consultar Nota Crédito [GET /v1/credit-notes/id]
Consultar una nota crédito por su id.

+ Request
    
    + Headers
            
            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (CreditNoteOut)

    + Body

## Listar Notas Crédito [GET /v1/credit-notes/]
Lista todas las notas crédito.

**Query Parameters**

Param                  |Type       |Description
-----------------------|-----------|-----------------------------------------------------------------------------------
**created_start**      |Date       | Devuelve resultados donde el campo "created" es mayor o igual que este valor.
**created_end**        |Date       | Devuelve resultados donde el campo "created" es menor o igual que este valor.
**updated_start**      |Date       | Devuelve resultados donde el campo "last_updated " es mayor o igual que este valor.
**updated_end**        |Date       | Devuelve resultados donde el campo "last_updated" es menor o igual que este valor.

**Date**: yyyy-MM-dd

**Date and time in UTC**: yyyy-MM-ddTHH:mm:ssZ

+ Request (application/json)

    + Headers

            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (CreditNotesOutList)

    + Body
    

## PDF Notas Crédito [GET /v1/credit-notes/{id}/pdf]
Generar pdf de Notas Crédito integrada.

Para visualizar una Nota Crédito en Siigo Nube puedes ingresar al ícono de la lupa que corresponde al Buscador, digita el número y oprime en Notas Crédito.

+ Parameters
    + id(string,`b446fbc3-99c5-4c2d-8a28-1c0d3721ab91`)

+ Request
    
    + Headers
            
            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (pdfNC)

    + Body        
    

# Group Recibos de Caja 
Comprobante que permite registrar los abonos a deuda, anticipos y recibos de caja avanzados.

## Crear Recibo de caja [POST /v1/vouchers]
Crear un nuevo Recibo de caja.

Tipo            |Tipo de Recibo
----------------|----------------------
DebtPayment     |Abono a deuda
AdvancePayment  |Anticipo
Detailed        |Avanzado

+ Request (application/json)

    + Headers

            Authorization: [access_token]

    + Attributes (VoucherIn)
    

+ Response 201 (application/json)

    + Attributes (VoucherOut)

    + Body

## Crear Recibo de caja - Avanzado [POST /v1/Vouchers]
Crear un nuevo Recibo de caja avanzado.

Este tipo de recibo de caja tiene la característica de poder asociar múltiples registros contables en donde puede llevarse a cabo la adición de cuentas de bancos, vencimientos e impuestos. Si requieres tener una colección en donde están varios ejemplos puedes escribirnos a soporteapi@siigo.com


+ Request (application/json)

    + Headers

            Authorization: [access_token]

    + Attributes (VoucherInDetailed)
    

+ Response 201 (application/json)

    + Attributes (VoucherOutDetailed)

    + Body    

## Consultar Recibo de caja [GET /v1/vouchers/id]
Consultar un Recibo de caja por su id.

+ Request
    
    + Headers
            
            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (VoucherOut)

    + Body

## Listar Recibos de Caja [GET /v1/vouchers/]
Lista todas los Recibos de Caja.

**Query Parameters**

Param                  |Type       |Description
-----------------------|-----------|-----------------------------------------------------------------------------------
**created_start**      |Date       | Devuelve resultados donde el campo "created" es mayor o igual que este valor.
**created_end**        |Date       | Devuelve resultados donde el campo "created" es menor o igual que este valor.
**updated_start**      |Date       | Devuelve resultados donde el campo "last_updated " es mayor o igual que este valor.
**updated_end**        |Date       | Devuelve resultados donde el campo "last_updated" es menor o igual que este valor.

**Date**: yyyy-MM-dd

**Date and time in UTC**: yyyy-MM-ddTHH:mm:ssZ

+ Request (application/json)

    + Headers

            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (VouchersOutList)

    + Body
    

# Group Comprobantes Contables
Comprobante que permite registrar todo tipo de asientos contables.

## Crear Comprobante Contable [POST /v1/journals]
En esta sección se muestra un ejemplo de la creación de un comprobante contable de caracteristicas de cuentas sin detalles. Si deseas implementar otro diferente al del ejemplo escríbenos a soporteapi@siigo.com para compartirte ejemplos de los demás tipos de cuentas. Siigo API te permite crear asientos con cuentas contables con las siguientes características:

N°           |Comprobantes Contables
-------------|---------------------------------------
1            |Sin detalles en cuentas contables (registros de banco, Tesorería, etc)
2            |Cuentas contables con manejo de vencimientos (cuentas por cobrar o pagar)
3            |Cuentas contables con manejo de impuestos
4            |Cuentas contables con manejo de activos fijos
5            |Cuentas contables con manejo de inventarios 




+ Request (application/json)

    + Headers

            Authorization: [access_token]

    + Attributes (JournalsInDev)
    

+ Response 201 (application/json)

    + Attributes (JournalsOutDev)

    + Body           
            
    
    
    

# Group Catálogos
Enpoints que listan los diferentes catálogos de Siigo.

## Grupos de Inventario [GET /v1/account-groups]
Consultar la clasificación de inventarios. Corresponde a la clasificación general de los productos o servicios que se comercializan en la empresa y donde es necesario asignar las cuentas contables en las cuales se registran los valores de inventarios.

+ Request (application/json)

    + Headers

            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (array[AccountGroup])

    + Body
        

## Impuestos [GET /v1/taxes]
Lista todos los impuestos registrados.

+ Request (application/json)

    + Headers

            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (array[Tax])

    + Body
    

## Listas de Precio [GET /v1/price-lists]
Lista todas las listas de precios registradas.

+ Request (application/json)

    + Headers

            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (array[PriceList])

    + Body
    

## Bodegas [GET /v1/warehouses]
Lista todas las bodegas registradas.

+ Request (application/json)

    + Headers

            Authorization: [access_token]

+ Response 200 (application/json)

    + Attributes (array[Warehouse])

[...]
