/* CSS Document */

  /* barras de desplazamiento*/
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(139, 139, 247, 0.50) #35629cab;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #13364dab;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(139, 139, 247, 0.50);
    border-radius: 1px;
    border: 1px solid #024e5e;
  }
  /* fin barras de desplazamiento*/
.btn-primary {
    color: #fff;
    background-color: #395f9c;
    border-color: #34639c;
}
.bg-primary {
    background-color: #395f9c!important;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #46569d;
    border-color: #4d7eb9;
}
.text-primary {
    color: #33568f!important;
}
.cien {
    height: 100%;
}
#bdy_kludx {
    background-color: rgb(0, 45, 128) ;
    padding: 0px;
    
}

#kld_top {
	background: #098099; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(45deg,  #098099 5%, #703ba0 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(5%,#098099), color-stop(99%,#703ba0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #098099 5%,#703ba0 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #098099 5%,#703ba0 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #098099 5%,#703ba0 99%); /* IE10+ */
    background: linear-gradient(45deg,  #098099  5%,#703ba0  99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098099', endColorstr='#703ba0',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    left: 0px;
    top: 0px;
    width: 100%;
    color: #FFF;
	transition: all 1.2s ease-in-out;
	-webkit-transition: all 1.2s ease-in-out;
	-moz-transition: all 1.2s ease-in-out;
}
#kld_nexus {
    display: flex;
    height: calc(100% - 50px);
    bottom: 0px;
}
#kld_menu {
    overflow-y: auto;
    left: 0px;
    background-color: #28273b;
    top: 0px;
    height: 100%;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;

}
#kld_container {
    overflow-y: auto;
    transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
    
}
#kld_logo {
    top: 0px;
    left: 0px;
    height: 50px;
    transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;

}
#kld_ctrlmenu {
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(38, 2, 85, 0.35);
}
#kld_search {
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(38, 2, 85, 0.35);
}
#kld_ctrlmenu:hover {
    color: aqua;
    background-color: rgba(38, 2, 85, 0.55);
}
#kld_search:hover {
    color: aqua;
    background-color: rgba(38, 2, 85, 0.55);
}
.dashboard_init {
    background-color: ghostwhite;
}
.dashboard {
    background-color: #ecf0f5;
}
.cover_lazy {
    position: absolute;
	height: 100%;
    z-index: 99;
}
.top_bar {
    position: relative;
	height: 50px;
    z-index: 999;
}

.title_bar {
    height: 50px;
}

.logo-mini {
    display: none;
}

#kld_logo a span {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    transition: all 1.2s ease-in-out;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
}
#kld_ctrlmenu a {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #ebf1f4;
}
#kld_search a {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #ebf1f4;
}

#kld_nameagency {
    display: none;
}
#kld_nameuser {
    display: none;
}
#kld_nameuser:hover {
    background-color: rgba(38, 2, 85, 0.55);
}
#img_user {
    display: none;
}
.menukl0{
    position: absolute;
    width: 0px;
}
.menukl1{
    position: absolute;
    z-index: 1000;
    width: 90%;
}
.titmnu {
    padding: 10px 25px 10px 15px;
    color: #347998;
    background-color: #1a2226;
    font-size: 12px;
    border: none;
    margin-bottom: 0px;
}
.menukl0 .titmnu {
    display: none;
}
.menukl1 .titmnu {
    display: block;
}
.deskkl0 {
    width: 100%;
}
.deskkl1 {
    width: 100%;
}
#mnupnl .accordion-button {
    background-color: #1e282caf;
    color: #c0d8f8a6;
    padding-top: 12px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-left: 15px;
    font-size: 14px;
}
#mnupnl .accordion-item {
    background-color: transparent;
    border: none;
    font-size: 14px;
}
#mnupnl .accordion-button:hover {
    background-color: #1e282cc2;
    color: rgba(255, 255, 255);
}
#mnupnl .accordion-button i {
    padding-right: 17px;
}
#infpnl {
    font-size: 14px;
    color: #a6c6e09e;
    text-align: center;
}
.menukl0 #infpnl {
    display: none;
}
.menukl1 #infpnl {
    display: block;
}
.menukl0 #mnupnl .accordion-button span {
    display: none;
} 
.menukl0 .manito a span {
    display: none;
}
.menukl1 #mnupnl .accordion-button span {
    width: 90%;
    display: block;
} 
.menukl1 .manito a span {
    display: inline;
}
.manito li a span {
    padding-right: 17px;
}
#mnupnl .accordion-button::after {
    display:none;
}
.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}
.accordion li {
    list-style: none;
}
.accordion li a {
    text-decoration: none;
    color: #9cb4d3;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    display: block;
    font-size: 14px;
    position: relative;
}
.accordion li a:hover {
    color: rgb(236, 238, 247);
}
.accordion li a li {
    width: 20px;
}
.accordion-body {
    padding: 0.4rem 1.25rem;
}
.menukl1 #mnupnl .accordion-button span i {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    transition: all 1.1s ease-in-out;
    -webkit-transition: all 1.1s ease-in-out;
    -moz-transition: all 1.1s ease-in-out;
}
.menukl0 #mnupnl .accordion-button span i {
    color: rgba(255, 255, 255, 0);
}
.manito a {
    padding-right: 17px;
}
#imgpnl{
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
}
#imgpnl img{
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
}
.menukl0 #imgpnl{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 4px;
    margin-top: 4px;
}
.menukl1 #imgpnl{
    width: 40%;
    margin-left: 30%;
    margin-bottom: 8px;
    margin-top: 8px;
}
.menukl0 #mnupnl .accordion .accordion-item .accordion-collapse {
    display: none;
}
.menukl1 #mnupnl .accordion .accordion-item .show {
    display: block;
}
#nxs_alert {
    display: none;
}
#nxs_sidesearch {
    position: absolute;
    width: 250px;
    overflow-y: auto;
    background-color: #27283b;
    top: 50px;
    bottom: 0px;
    z-index: 1000;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;

}
.sidesearch0 {
    right: -250px;
}
.sidesearch1 {
    right: 0px;
}
#nxs_sectionsearch {
    padding: 7px;
}
#gxtabs {
    border-bottom: 1 dotted rgb(3, 46, 63);
}
#gxtabs > li {
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    background-color: transparent;
}
#gxtabs > li:hover {
    background-color: rgba(17, 38, 77, 0.26);
}
#gxtabs > li:active {
    background-color: rgba(17, 38, 77, 0.15);
    border-right: 2px solid rgb(8, 98, 158);
}
#gxtabs > li > button > img {
    float: none;
}
#gxtabs > li > button > a {
    text-decoration: none;
    color: #e2d185;
    float: right;
}
#gxtabs > li > button > a:hover {
    color: #f1c54b;
}
#gxtabs > li > button {
    background-color: transparent;
    color: aliceblue;
    border-color: transparent;
    width: 99%;
    text-align: left;
    font-size: 13px;
}
.panel-heading {
    padding: 10px;
}
.panel-title {
    border-image: linear-gradient(to right, #098099, #6d3c9f) 1;
    border-bottom-style: solid;
    padding-bottom: 8px;
}
.panel-title img {
    float: none;
    margin-right: 10px;
}
.panel-title .close {
    float: right;
    background-color: #f5f5f59c;
    border-color: transparent;
    color: #6d3c9f;
    font-weight: 600;
}
.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}
.content-header>h1 {
    margin: 0;
    font-size: 24px;
}
.content-header>h1>small{
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}
#contItems {
    padding: 15px;
}
#row1kld {
    margin-bottom: 18px;
}
#cardbd1kld {
    background-color: whitesmoke;
    border-left: 10px solid #2386e9;
    border-radius: 3px;
    color:rgb(41, 55, 63);
    padding-bottom:0px;
}
#cardbd2kld {
    background-color: whitesmoke;
    border-left: 10px solid #e9d523;
    border-radius: 3px;
    color:rgb(41, 55, 63);
    padding-bottom:0px;
}
#cardbd3kld {
    background-color: whitesmoke;
    border-left: 10px solid #23e97c;
    border-radius: 3px;
    color:rgb(41, 55, 63);
    padding-bottom:0px;
}
#cardbd4kld {
    background-color: whitesmoke;
    border-left: 10px solid #e9236f;
    border-radius: 3px;
    color:rgb(41, 55, 63);
    padding-bottom:0px;
}
.crdbutton {
    width: 100%;
    bottom: 0px;
    position: sticky;
    display: grid;
    padding-top: 16px;
}
.crdbutton .btn{
    background-color: transparent;
    border-color: transparent;
    color: #273755;
}
.small-box>.inner {
    padding: 10px;
    font-size: 38px;
    font-weight: 600;
    color: #3e537e;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #098099, #6d3c9f) 1;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
.showUsrOpts0 {
    height: 0px;
    z-index: 1;
    background-color: #0c7d998e;
    visibility: 0;
    padding:0px;
}
.showUsrOpts0 #usr_dataopts {
    display: none;
}
.showUsrOpts0 #usr_actionopts {
    display: none;
}
#usropt .manito {
    list-style-type: none;
}
#usropt .manito a {
    text-decoration: none;
    color: #c0d8f8a6;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    display: block;
    font-size: 14px;
    position: relative;
}
#usropt .manito a:hover {
    color: white;
}
#usropt .manito a i {
    padding-right: 17px;
}
.box-header {
    color: rgb(11, 90, 133);
    display: block;
    padding: 10px;
    position: relative;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    margin-right: 5px;
    line-height: 1;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.form-group {
    margin-bottom: 15px;
}
.form-select {
    color: #3f5b9c;
}
#frm_cotiza .d-grid {
    height: 21px;
    margin-top: 7px;
    
}
@media (min-width: 600px) {
    body {
      background: rgb(0, 45, 128);
    }
    .small-box>.inner {
        padding: 10px;
        font-size: 48px;
        font-weight: 600;
        color: #3e537e;
    }    
    #kld_top {
        display: flex;
    }
    #kld_logo {
        top: 0px;
        left: 0px;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        background-color:rgba(15, 3, 87, 0.30);
    
    }
    #kld_ctrlmenu {
        position: relative;
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: rgba(38, 2, 85, 0);
        
    }
    #kld_search {
        position: relative;
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: rgba(38, 2, 85, 0);
    }
    #kld_logo a span {
        opacity: 1;
    }
    #kld_nameagency {
        display: block;
        padding: 9px;
        padding-top: 15px;
        font-size: 13px;
        text-align: right;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
    }
    #kld_nameuser {
        display: block;
        text-align: center;
        cursor: pointer;
        width: 300px;
        padding: 9px;
        padding-top: 15px;
        font-size: 13px;
    } 
    #user_options {
        width: 300px;
        top: 50px;
        right: 50px;
        position: absolute;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;

    }
    .showUsrOpts1 {
        height: 228px;
        z-index: 20;
        background-color: #d8d2d77a;
        padding:5px;
        visibility: 1;
    }
    .showUsrOpts1 #usr_dataopts {
        display: block;
    }
    .showUsrOpts1 #usr_actionopts {
        display: flex;
    }
    #usr_dataopts {
        background-color: #f2f2f6;
        width: 100%;
        height: 170px;
        border-radius: 2px;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
    }
    #usr_actionopts {
        background-color: rgb(88 75 158);
        width: 100%;
        height: 48px;
        border-radius: 2px;
        padding: 5px;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
    }
    #usr_nameopts {
        color: #37609c;
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
    }
    #usr_roleopts {
        color: #47569d;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: normal;
    }
    #usr_imgopts {
        height: 120px;
        padding: 10px;
        width: 100%;
    }
    #img_user {
        width: 100px;
        height: 100px;
        display: block;
    }
    #usr_passopts {
        width: 50%;
        justify-content: center;
        display: flex;
    }
    #usr_sessionopts {
        width: 50%;
        justify-content: center;
        display: flex;
    }
    #usr_actionopts div button {
        color: #1c3252;
        font-size: 14px;

    }
    #usr_actionopts div button:hover {
        color: #1e3880;
        font-size: 14px;
        
    }
    #kld_menu {
        height: calc(100% -50px);
    }
    #kld_container {
        height: calc(100% -50px);
    }
    .menukl0 {
        position: relative;
        width: 50px;
    }
    .menukl1 {
        position: relative;
        z-index: 1;
        width: 230px;
    }
    .deskkl0 {
        width: calc(100% - 50px);
    }
    .deskkl1 {
        z-index: 1;
        width: calc(100% - 230px);
    }
    .logokl0 {
        width: 50px;
    }
    .logokl1 {
        width: 230px;
    }
    .logo_mini0 {
        display: block;
    }
    .logo_mini1 {
        display: none;
    }
    .logo_lg0 {
        display: none;
    }
    .logo_lg1 {
        display: block;
    }
    .wagency0 {
        width: calc(100% - 450px);
    }
    .wagency1 {
        width: calc(100% - 630px);
    }
  }










